<h2>aqui verás todos los cursos disponibles paravos en este nuevo año</h2>
<div class="container">
    <div class="row">
        {{#each cursos}}
            <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{materia}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/cursos/apuntarse" class="btn btn-primary">apuntarse</a>
            </div>
            </div>
        {{/each}}
    </div>
</div>
